@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<ClienteMVC_5.Models.ClienteViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("GetClientePorNome", "Cliente", FormMethod.Get))
{
    @Html.Label("Nome", "Nome")
    <input type="text" name="nome" placeholder="procurar" />
    <input type="submit" name="submit" value="Procurar" />
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameForModel()
        </th>
        <th>
            @Html.DisplayNameForModel()
        </th>
        <th>
            @Html.DisplayNameForModel()
        </th>
        <th>
            @Html.DisplayNameForModel()
        </th>
        <th>
            @Html.DisplayNameForModel()
        </th>
        <th>
            @Html.DisplayNameForModel()
        </th>
        <th>
            @Html.DisplayNameForModel()
        </th>
        <th>
            @Html.DisplayNameForModel()
        </th>
        <th>
            @Html.DisplayNameForModel()
        </th>
        <th>
            @Html.DisplayNameForModel()
        </th>
        <th>
            @Html.DisplayNameForModel()
        </th>
        <th>
            @Html.DisplayNameForModel()
        </th>
        <th>
            @Html.DisplayNameForModel()
        </th>
        <th>
            @Html.DisplayNameForModel()
        </th>
        <th>
            @Html.DisplayNameForModel()
        </th>
        <th>
            @Html.DisplayNameForModel()
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CEP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logradouro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uf)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id },
               new { onclick = "return confirm('Deseja realmente deletar este usuário ?');" })
            </td>
        </tr>
    }

</table>

<div>
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    de @Model.PageCount
    @if (Model.HasPreviousPage)
    {
        @Html.ActionLink("<", "Index", new { pagina = 1 })
        @Html.Raw(" ");
        @Html.ActionLink("[ Anterior", "Index", new { pagina = Model.PageNumber - 1 })
    }
    else
    {
        @:<
        @Html.Raw(" ");
        @:< Anterior
    }
    @if (Model.HasNextPage)
    {
        @Html.ActionLink("Próxima ]", "Index", new { pagina = Model.PageNumber + 1 })
        @Html.Raw(" ");
        @Html.ActionLink(">", "Index", new { pagina = Model.PageCount })
    }
    else
    {
        @:Próxima >
        @Html.Raw(" ")
        @:>
    }
</div>

